@import url("../../.cache/wal/colors-waybar.css");

* {
  background: @background;
  border: none;
  color: @foreground;
  font-family: "Terminus (TTF)", "Symbols Nerd Font", sans-serif;
  font-size: 14px;
}

#workspaces button {
  padding: 0;
}

#workspaces button.active {
  border-radius: 0;
  border-top: 2px solid @color1;
}

#tray {
  padding: 7px;
}
