[Unit]
Description=Configure Headset Periodically

[Timer]
OnBootSec=10s
OnUnitActiveSec=30s
Unit=headset-volume.service

[Install]
WantedBy=default.target
