._9sPoVBFyE_vE87mnZJ5aB {
    width: 240px !important;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
    width: 150px;
}

._3pSPluBgf0NeR1kkCLWMhR ._1ooROmAgkhoBH_o65yl9dJ svg {
    top: -63px;
    left: -2px;
}