@import url("../../.cache/wal/colors-waybar.css");

window {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "0xProto Nerd Font";
  font-size: 25pt;
}

button {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  border: 0;
  color: @foreground;
  margin-bottom: 100px;
}

button:hover {
  background-size: 25%;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:focus {
  outline: none;
}

#lock {
  background-image: image(url("./icons/lock.png"));
}
#logout {
  background-image: image(url("./icons/logout.png"));
}
#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}
#shutdown {
  background-image: image(url("./icons/power.png"));
}
#reboot {
  background-image: image(url("./icons/restart.png"));
}
