[Unit]
Description=Bisync ~/ProtonDrive with Proton Drive (rclone)
After=network-online.target
Wants=network-online.target
AssertPathExists=%h/.config/rclone/rclone.conf

[Service]
Type=oneshot
ExecStart=%h/projects/arch-dotfiles/configs/proton/drive/proton-drive-bisync.sh
