:root {
  --custom-accent: #4E7A91;

  --main-background: #3789A8;
  --secondary-background: #120917;

  --offline-status: #898989;
  --online-status: #4cb4ff;
  --idle-status: #4c91ac;
  --ingame-status: #8cd61d;
  --ingameidle-status: #62813b;

  --green-color: #769c1f;
}
