:root {
  --custom-accent: #9E6471;

  --main-background: #096B94;
  --secondary-background: #090b15;

  --offline-status: #898989;
  --online-status: #4cb4ff;
  --idle-status: #4c91ac;
  --ingame-status: #8cd61d;
  --ingameidle-status: #62813b;

  --green-color: #769c1f;
}
