div.title-area-icon.closeButton.windowControlButton {
	display: none !important;
}
._3cykd-VfN_xBxf3Qxriccm {
    margin-right: -17px !important;
}
._1_yS5UP7el0aN4vntx3dx {
    margin-right: -34px;
}