div.title-area-icon.minimizeButton.windowControlButton,
div.title-area-icon.maximizeButton.windowControlButton,
div.title-area-icon.restoreButton.windowControlButton {
	display: none !important;
}
._3cykd-VfN_xBxf3Qxriccm {
    margin-right: -48px !important;
}
._1_yS5UP7el0aN4vntx3dx {
    margin-right: -65px;
}