@font-face
{
	font-family: "Inter Regular";
	font-style: normal;
	font-weight: 100 900;
	src: url("Text/Inter_28pt-Medium.ttf") format("truetype");
	font-display: swap;
}

@font-face
{
	font-family: "Inter Regular";
	font-style: italic;
	font-weight: 100 900;
	src: url("Text/Inter_28pt-Italic.ttf") format("truetype");
	font-display: swap;
}
@font-face
{
	font-family: "Inter Regular";
	font-style: normal;
	font-weight: 700;
	src: url("Text/Inter_28pt-Bold.ttf") format("truetype");
	font-display: swap;
}

@font-face
{
	font-family: "Inter Mono";
	font-style: normal;
	font-weight: 400;
	src: url("Text/Inter_28pt-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face
{
	font-family: "Inter Mono";
	font-style: italic;
	font-weight: 400;
	src: url("Text/Inter_28pt-Italic.ttf") format("truetype");
	font-display: swap;
}

@font-face
{
	font-family: "Inter Mono";
	font-style: normal;
	font-weight: 700;
	src: url("Text/Inter_28pt-Bold.ttf") format("truetype");
	font-display: swap;
}

@font-face
{
	font-family: "Inter Mono";
	font-style: italic;
	font-weight: 700;
	src: url("Text/Inter_28pt-BoldItalic.ttf") format("truetype");
	font-display: swap;
}

:root
{
	--nku-text-font-primary: "Inter Regular" !important;
	--nku-text-font-monospace-primary: "Inter Mono" !important;
}



body.DesktopUI div[class*="steamdesktop_TopBar_"] div[class*="supernav_MenuButton_"], 
body.DesktopUI div._3Z7VQ1IMk4E3HsHvrkLNgo div._19axKcqYRuaJ8vdYKYmtTQ {
    font-family: var(--nku-text-font-primary) !important;
    font-size: 15px !important;
}
._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
    margin-top: 7px !important;
}