._3ydigb6zZAjJ0JCDgHwSYA {
    border-radius: 10px !important; 
}
._2q-gZ3XJzlvSGHSF-GvSmi {
    border-radius: 0px 10px 10px 0px !important;
}
._1hhB2Wf7iExA15zh_lDQ_y ._3ydigb6zZAjJ0JCDgHwSYA {
    border-radius: 10px 0px 0px 10px !important;
}

._1FnJ6dPuknQFQ2RTpKTI16 {
    margin-right: unset !important;
	
	width: 130px !important;
}
._1FnJ6dPuknQFQ2RTpKTI16._1hhB2Wf7iExA15zh_lDQ_y {
    min-width: 130px !important;
}
._1FnJ6dPuknQFQ2RTpKTI16 {
    min-width: 130px;
}
div.NarrowRightPanel ._1FnJ6dPuknQFQ2RTpKTI16:not(._20gjC_5pJucg8Ru-nbg_Wm) {
    width: 130px !important;
}

._3-V8vjmrwuJM6Ws3tsjFJj {
    margin-right: 170px !important;
	
	width: 57.2% !important;
}

._1FnJ6dPuknQFQ2RTpKTI16 {
    bottom: -60px;
}
._1FnJ6dPuknQFQ2RTpKTI16._1hhB2Wf7iExA15zh_lDQ_y.Panel {
    bottom: -60px;
}
div.NarrowRightPanel ._1FnJ6dPuknQFQ2RTpKTI16:not(._20gjC_5pJucg8Ru-nbg_Wm) {
    bottom: -60px !important;
}

._1FnJ6dPuknQFQ2RTpKTI16 {
    height: 128% !important;
}

._3ydigb6zZAjJ0JCDgHwSYA ._33cnXIqTRgRr49_FNXIHj6 {
    display: none;
}
._3ydigb6zZAjJ0JCDgHwSYA svg {
    margin-right: unset !important;
}

.lO1IF132jJ1gc9yz2HYvV {
    flex-flow: row !important;
    left: 18px !important;
}

._1m8iQOSVziKDHiInrfskv_ {
    margin-top: 6px;
}