._1FnJ6dPuknQFQ2RTpKTI16 {
    margin-right: unset !important;
}

._3-V8vjmrwuJM6Ws3tsjFJj {
    margin-right: 20px !important;
	
	width: 74% !important;
}
.lO1IF132jJ1gc9yz2HYvV {
    flex-flow: row !important;
    left: 18px !important;
}