[Unit]
Description=Link millennium into steam

[Service]
Type=oneshot
ExecStart=%h/projects/arch-dotfiles/configs/gaming/steam/hook/millennium-link.sh
