[Unit]
Description=Periodically re-check the system timezone

[Timer]
OnStartupSec=2min
OnUnitActiveSec=1h
Persistent=true
AccuracySec=5min

[Install]
WantedBy=timers.target
