/**
 * @name Custom WAL Theme
 * @author lsck0
 * @description Colorscheme based on WAL.
 * @version 1.0
 * @source https://github.com/lsck0/arch-dotfiles
 * @website https://github.com/lsck0/arch-dotfiles
*/

--background: #0f180a;

body {
  font-family: "0xProto Nerd Font", "Symbols Nerd Font", sans-serif !important;
  font-size: 8px !important;
}

.appMount,
.app-2CXKsg,
.app_de4237 {
  background-color: var(--background) !important;
}

.chatContent_f087cb,
.chat-2ZfjoI {
  background-color: var(--background) !important;
}

.sidebar-1tnWFu,
.container-1NXEtd {
  background-color: var(--background) !important;
}
