[Unit]
Description=Auto ProtonVPN on untrusted networks
After=NetworkManager.service

[Service]
ExecStart=%h/projects/arch-dotfiles/configs/protonvpn/auto-vpn.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
